<div class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]">
    <div class="py-32 h-full overflow w-full  flex">
    <h1 class="text-2xl m-16 h-[300px] w-[900px] text-white font-mono border-l-4 border-gray-300 pl-5 py-6"> Yo! Glad you landed here. This blog’s my little corner on the
        internet where I break down tech the way I see it — no buzzwords, no fluff. Just real talk about software, 
        computers, coding headaches, cool tools, and all the fun (and chaos) that comes with working in IT. Whether you're a
        developer, a curious learner, or just someone trying to make sense of tech, there’s something here for you. 
        Let’s make the complex stuff make sense — one blog at a time. </h1>
    </div>
    <div class="text-white font-light font-mono pr-8 flex justify-end">
        <span>
            Powered by Angular JS
        </span>
    </div>
</div>

