<div class="bg-[rgb(32,35,42)]  h-14 flex border justify-center">
   <div class="flex gap-30">
        <button routerLink="home" routerLinkActive="active" class=" text-white py-2 px-2 m-1 border border-black cursor-pointer">Home</button>
        <button routerLink="contact" routerLinkActive="active" class=" text-white py-2 px-2 m-1 border border-black cursor-pointer">Contact</button>
        <button routerLink="blogs" class=" text-white  py-3 px-3 m-1 border border-black cursor-pointer">Blogs</button>
        <button routerLink="about" class="text-white py-3 px-3 m-1 border border-black cursor-pointer">About</button>
        <button routerLink="misc" class=" text-white py-3 px-3 m-1 border border-black cursor-pointer">Misc</button>
   </div>
</div>